[Unit]
Description=Run Gentei membership checks somewhere around daily

[Timer]
OnCalendar=18:00:00 UTC
RandomizedDelaySec=2hr
Persistent=true

[Install]
WantedBy=timers.target