apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  selector:
    matchLabels:
      app: web
  strategy:
    rollingUpdate:
      maxUnavailable: 50%
      maxSurge: 1
  replicas: 2
  template:
    metadata:
      labels:
        app: web
    spec:
      nodeSelector:
        ignacio.io/cloud: "true"
      terminationGracePeriodSeconds: 0
      containers:
        - name: web
          image: ghcr.io/member-gentei/gentei:latest
          args:
            - serve
            - "--address"
            - ":5000"
            - "--discord-redirect-url"
            - "https://gentei.tindabox.net/login/discord"
            - "--youtube-redirect-url"
            - "https://gentei.tindabox.net/login/youtube"
          env:
            - name: DISCORD_CLIENT_ID
              value: "768486576388177950"
            - name: YOUTUBE_CLIENT_ID
              value: "649732146530-s4cj4tqo2impojg7ljol2chsuj1us81s.apps.googleusercontent.com"
            - name: GCP_LOG_ID
              value: web
            - name: PUBSUB_TOPIC
              value: general
          envFrom:
            - secretRef:
                name: gentei-db
            - secretRef:
                name: gentei-web
          volumeMounts:
            - name: google-sa
              mountPath: /secret/google-sa
              readOnly: true
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 5000
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 5000
          livenessProbe:
            initialDelaySeconds: 30
            periodSeconds: 30
            httpGet:
              path: /healthz
              port: 5000
      volumes:
        - name: google-sa
          secret:
            secretName: google-sa
