@charset "utf-8";
$grey-darker: #333;
$black-ter: #222;

$orange: #ff7518;
$yellow: #f4db00;
$green: #3fb618;
$turquoise: #00aba9;
$blue: #1faeff;
$purple: #aa40ff;
$red: #ff2e12;
$grey: #dbdbdb;

$primary: #2780e3 !default;

@import "~bulma/bulma.sass";

.spinner {
  @include loader;
}

.spin {
  animation: spinAround 500ms infinite linear;
}

.spin-hover:hover .spin-me {
  animation-duration: 300ms;
}
.spin-me {
  animation: spinAround 1000ms infinite linear;
}

.image.avatar {
  height: 28px;
  width: 28px;
}

.developed-with-youtube > img {
  max-height: 13em;
}

.overlay {
  @include overlay(1.5rem);
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 0.25em;
  color: white;
}

.discord-role {
  color: rgb(80, 92, 220);
  background: rgba(88, 101, 242, 0.15);
}

.card-image:first-child img.is-rounded {
  border-radius: 9999px;
}
