@charset "utf-8";
$grey-darker: #333;
$black-ter: #222;

$orange: #ff7518;
$yellow: #f4db00;
$green: #3fb618;
$turquoise: #00aba9;
$blue: #1faeff;
$purple: #aa40ff;
$red: #ff2e12;
$grey: #dbdbdb;

$primary: #2780e3 !default;

@import "~bulma/bulma.sass";