@charset "utf-8";
$grey-darker: #333;
$black-ter: #222;

$orange: #ff7518;
$yellow: #f4db00;
$green: #3fb618;
$turquoise: #00aba9;
$blue: #1faeff;
$purple: #aa40ff;
$red: #ff2e12;
$grey: #dbdbdb;

$primary: #2780e3 !default;

@import "~bulma/bulma.sass";

.spinner {
  @include loader;
}

.spin {
  animation: spinAround 500ms infinite linear;
}

.spin-hover:hover .spin-me {
  animation-duration: 300ms;
}
.spin-me {
  animation: spinAround 1000ms infinite linear;
}

.image.avatar {
  height: 28px;
  width: 28px;
}

.developed-with-youtube > img {
  max-height: 13em;
}

.overlay {
  @include overlay(1.5rem);
  background-color: $grey-darker;
  border-radius: 0.25em;
  color: white;
  opacity: 0.9;
}
