/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.rounded {
  border-radius: 50%;
}

.discord-mention {
  padding: 1px;
  background-color: rgba(88, 101, 242, 0.3);
  color: #505cdc;
}

.developed-with-youtube > img {
  max-height: 13em;
}

.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}
