name: backend-dev

on:
  pull_request:

defaults:
  run:
    working-directory: gentei

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.work"
      - run: go test -v ./...
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: docker build
        env:
          DOCKER_BUILDKIT: "1"
        run: docker build . -t gentei
